
<nav class="navbar navbar-expand-md justify-content-center fixed-top border-bottom bg-dark navbar-dark 
            navbar-custom" role="navigation">
<!--  
  <a class="navbar-brand" href="#">
    <img src="/assets/img/thepantherlogo_inverted.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a> 
-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar-dark"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
  
    <ul class="navbar-nav">
      <li class="nav-item"><a href="{{ '/' | prepend:  site.baseurl }}" 
                              class="nav-link">Home</a></li>
      {% for pg in site.data.navigation.pgs %}
      <li class="nav-item"><a href="{{ pg.permalink }}";
                              class="nav-link">{{ pg.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</nav>

