body {
  color: $body-font-color;
  background-color: $body-bg-color;
  font-family: $body-font;
  //padding-top: 100px; //  10%; //140px;
  -webkit-font-smoothing: antialiased;

  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  //line-height: 1;
}

/*body .carousel-item {
  padding-top: -100px;
}*/

@media (min-width: 768px) {
  body {
    //padding-top: 10%;
    //padding-top: 5%;
  }
}

.container {
  //padding-top: 100px;
  padding-top: 60px;
}

@media (min-width: 768px) {
.not-photo {
    padding-top: 10%;
  }
}



/*
.img-fluid{
  width: auto !important; // 100%; 
  max-height: 100% !important; // auto;
}
img {
  vertical-align:bottom;
}
*/

h1 {
  color: $h1-font-color;
}

h2 {
  color: $h2-font-color;
}

h3 {
  font-family: $h3-font;
  color: $h3-font-color;
}

a {
  //color: $link-color !important;
  color: $link-color;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

a:hover {
  //color: $link-hover-color !important;
  color: $link-hover-color;
  text-decoration: none;
}

.gear-name {
  font-size: 1.25rem; 
}

.credit-title, .credit-artist, .credit-year, .credit-type, .listen-title, .listen-artist, .contact-info {
  font-size: 1.15rem;
} 

/* ##### Start Navbar ############################################# */
.navbar {
  font-size: $nav-font-size;
  background-color: black !important;
  line-height: .8;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-custom {
    background-color: black;
}

/* ##### Start Navbar custom color ################################# */
/* change the brand and text color */
.navbar-custom .navbar-brand, .navbar-custom .navbar-text {
    //color: $link-color;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: $link-color;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link {
    color: $link-hover-color;
}

// this is a white icon with 50% opacity
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* ##### End Navbar custom color ################################# */

/* FOOTER */
footer {
  font-size: .75em;
  position: absolute;
  bottom: 0; // 10px;
  width: 100%;
  height: 2.5rem;
  padding-top: 30px;
  //margin-top: 30px;
}

/* Keeps the footer at the bottom */
.page-container {
  position: relative; 
  min-height: 100vh;
}
.content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}








/* ##### Start Media queries ################################# */
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
  
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
/* ##### End Media queries ################################# */
