<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container {% if page.heading != 'Photos' %} not-photo {% endif %}">
      <div class="page-container">
        <div class="content-wrap">

          <div class="row">
            {% include header.html %}
          </div>

          <div class="row">
            <div class="col">
              {% if page.heading != "home" and page.heading != "Photos" %}
              <h1> {{ page.heading }} </h1> </br>
              {% else %}
              <h1 class="invisible invisible-header"> {{ page.heading }} </h1> </br>
              {% endif %}
              {{ content }}
            </div>
          </div>

          <div>
            {% include footer.html %}
          </div>

          {% include open-embed.html %}

        </div>
      </div>
    </div>
  </body>

</html>
